@import "tailwindcss";
@import 'bootstrap-icons/font/bootstrap-icons.css';


@custom-variant elegance {
  &:where([data-theme="elegance"], [data-theme="elegance"] *) {
    @slot;
  }
}

@custom-variant dark {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    @slot;
  }
}

@custom-variant radiation {
  &:where([data-theme="radiation"], [data-theme="radiation"] *) {
    @slot;
  }
}

@theme {

    /* Neutral elegance */
    --color-elegance-100: oklch(0.9136 0.03 63.64);
    --color-elegance-200: oklch(0.9136 0.0583 63.64);
    --color-elegance-300: oklch(0.8095 0.024 65.39);
    --color-elegance-400: oklch(0.6124 0.0472 62.19);
    --color-elegance-500: oklch(0.4307 0.0548 61.35);
    --color-elegance-600: oklch(0.36 0.0548 61.35);

    /* Radiation elegance */
    --color-radiation-50: oklch(0.86 0.18 107); 
    --color-radiation-100: oklch(0.74 0.1 87);
    --color-radiation-200: oklch(0.85 0.15 87);
    --color-radiation-300: oklch(0.8095 0.024 65.39);
    --color-radiation-400: oklch(0.73 0.14 48);
    --color-radiation-500: oklch(0.73 0.18 54);
    --color-radiation-600: oklch(0.65 0.16 52);
    --color-radiation-700: oklch(0.45 0.1 50);
} 